In [15]:
#1
a = "Paramjeet"
b = [1,2,3,4,"Paramjeet",3.40]
c = 3.40
my_tuple = (1, 2, 'three', True)
print(a)
print(type(b))
print(type(c))
print(type(my_tuple))

Paramjeet
<class 'list'>
<class 'float'>
<class 'tuple'>

In [14]:
#2
# string
# string
# list
# <class 'int'>

In [20]:
#3
a=100
b=23
c=a/b
d=a%b
e=a//b

print(c)
print(d)
print(e)
2**3

4.3478260869565215
8
4

8

In [23]:
#4
l=[1,2,3,5,2.4,5.66,"Paramjeet",True,False]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
5
<class 'int'>
2.4
<class 'float'>
5.66
<class 'float'>
Paramjeet
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#5

In [36]:
#6

l=[1,2,3,45,34,56,67,78,89,99,80,70,46,78,76,98,120]
for j in l:
    print(j)
    if j%3 == 0:
        print("The given value is divisible by 3")
    else:
        print("The value is not divisible by 3")

1
The value is not divisible by 3
2
The value is not divisible by 3
3
The given value is divisible by 3
45
The given value is divisible by 3
34
The value is not divisible by 3
56
The value is not divisible by 3
67
The value is not divisible by 3
78
The given value is divisible by 3
89
The value is not divisible by 3
99
The given value is divisible by 3
80
The value is not divisible by 3
70
The value is not divisible by 3
46
The value is not divisible by 3
78
The given value is divisible by 3
76
The value is not divisible by 3
98
The value is not divisible by 3
120
The given value is divisible by 3

In [ ]:
#7

# mutable data types are those whose values can not be changed is called mutable for example list is
# mutable object